.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #1b1e25;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* left-side */
.leftside {
  flex-basis: 61%;
}
.mainimg {
  border-radius: 8px;
}
.description {
  margin-bottom: 60px;
}
.description h1 {
  font-size: 21px;
  margin: 32px 0;
}
.description ol {
  list-style-type: none;
  counter-reset: ordered-list;
}
.description li::before {
  content: counter(ordered-list) "- ";
  counter-increment: ordered-list;
}
.description p,
.description li {
  line-height: 21px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: regular;
}
.sellerContainer,
.reviewContainer,
.policyContainer,
.faqContainer {
  margin-top: 60px;
}
.sectionTitle {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 25px;
}
.expand {
  color: #00f9ff;
  background-color: transparent;
  border: none;
  font-weight: medium;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}
/* right-side */
.rightside {
  flex-basis: 33.5%;
  border: 1px solid #2f384c;
  border-radius: 8px;
  padding: 32px;
  height: fit-content;
}
.title {
  color: #60759f;
  border: 1px solid #60759f;
  border-radius: 100px;
  font-size: 11px;
  font-weight: bold;
  width: 22%;
  height: fit-content;
  vertical-align: middle;
  text-align: center;
}
.heading {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 40px;
}
.subheading {
  font-size: 14px;
  color: #95acda;
  margin-bottom: 20px;
  line-height: 21px;
}
.servicesContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}
.columnButtons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.protectionNote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 17px;
  border-top: 1px solid #2f384c;
  font-size: 13px;
  font-weight: regular;
  color: #95acda;
  line-height: 20px;
  margin-top: 32px;
}
.protectionNote p {
  flex-basis: 80.8%;
}
